  <div class="row">
    <div class="col-md-7">
      トップコンテンツここらへんに貼れたら
    </div>
    <div class="col-md-5" id="searchByArea">
      <p class="shop-search">ショップを探す</p>
      <div class="contents">
        <dl class="clearfix">
          <dt>
            北海道
          </dt>
          <dd>
            <ul>
              <li><%= link_to "北海道", shop_pref_path("hokkaido") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "東北", shop_pref_path("tohoku") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "青森", shop_pref_path("aomori") %></li>
              <li><%= link_to "岩手", shop_pref_path("iwate") %></li>
              <li><%= link_to "宮城", shop_pref_path("miyagi") %></li>
              <li><%= link_to "秋田", shop_pref_path("akita") %></li>
              <li><%= link_to "山形", shop_pref_path("yamagata") %></li>
              <li><%= link_to "福島", shop_pref_path("fukushima") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "関東", shop_pref_path("kantou") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "栃木", shop_pref_path("tochigi") %></li>
              <li><%= link_to "群馬", shop_pref_path("gunma") %></li>
              <li><%= link_to "茨城", shop_pref_path("ibaraki") %></li>
              <li><%= link_to "埼玉", shop_pref_path("saitama") %></li>
              <li><%= link_to "千葉", shop_pref_path("chiba") %></li>
              <li><%= link_to "東京", shop_pref_path("tokyo") %></li>
              <li><%= link_to "神奈川", shop_pref_path("kanagawa") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "甲信越", shop_pref_path("koushinetsu") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "山梨", shop_pref_path("yamanashi") %></li>
              <li><%= link_to "長野", shop_pref_path("nagano") %></li>
              <li><%= link_to "新潟", shop_pref_path("nigata") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "北陸", shop_pref_path("hokuriku") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "富山", shop_pref_path("toyama") %></li>
              <li><%= link_to "石川", shop_pref_path("ishikawa") %></li>
              <li><%= link_to "福井", shop_pref_path("fukui") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "東海", shop_pref_path("tokai") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "静岡", shop_pref_path("shizuoka") %></li>
              <li><%= link_to "岐阜", shop_pref_path("gifu") %></li>
              <li><%= link_to "愛知", shop_pref_path("aichi") %></li>
              <li><%= link_to "三重", shop_pref_path("mie") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "関西", shop_pref_path("kansai") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "滋賀", shop_pref_path("shiga") %></li>
              <li><%= link_to "京都", shop_pref_path("kyoto") %></li>
              <li><%= link_to "大阪", shop_pref_path("osaka") %></li>
              <li><%= link_to "兵庫", shop_pref_path("hyogo") %></li>
              <li><%= link_to "奈良", shop_pref_path("nara") %></li>
              <li><%= link_to "和歌山", shop_pref_path("wakayama") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "山陰・山陽", shop_pref_path("saninsanyo") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "鳥取", shop_pref_path("tottori") %></li>
              <li><%= link_to "島根", shop_pref_path("shimane") %></li>
              <li><%= link_to "岡山", shop_pref_path("okayama") %></li>
              <li><%= link_to "広島", shop_pref_path("hiroshima") %></li>
              <li><%= link_to "山口", shop_pref_path("yamaguchi") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "四国", shop_pref_path("shikoku") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "徳島", shop_pref_path("tokushima") %></li>
              <li><%= link_to "香川", shop_pref_path("kagawa") %></li>
              <li><%= link_to "愛媛", shop_pref_path("ehime") %></li>
              <li><%= link_to "高知", shop_pref_path("kouchi") %></li>
            </ul>
          </dd>
          <dt>
            <%= link_to "九州", shop_pref_path("kyushu") %>
          </dt>
          <dd>
            <ul>
              <li><%= link_to "福岡", shop_pref_path("fukuoka") %></li>
              <li><%= link_to "佐賀", shop_pref_path("saga") %></li>
              <li><%= link_to "長崎", shop_pref_path("nagasaki") %></li>
              <li><%= link_to "熊本", shop_pref_path("kumamoto") %></li>
              <li><%= link_to "大分", shop_pref_path("oita") %></li>
              <li><%= link_to "宮崎", shop_pref_path("miyazaki") %></li>
              <li><%= link_to "鹿児島", shop_pref_path("kagoshima") %></li>
            </ul>
          </dd>
          <dt>
            沖縄
          </dt>
          <dd>
            <ul>
              <li><%= link_to "沖縄", shop_pref_path("okinawa") %></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div><!-- searchByArea -->
  </div>
