<div>
  <%= @shop[:id] %>
</div>

<div>
  <%= @shop[:url] %>
</div>

<div>
  <%= @shop[:name] %>
</div>

<div>
  <%= @shop[:zip_code] %>
</div>

<div>
  <%= @shop[:address] %>
</div>

<div>
  <%= @shop[:pref] %>
</div>

<div>
  <%= @shop[:tel] %>
</div>
