<script>
  $(document).ready(function(){
  googlemap_init('google_map', '<%= @shop[:address] %>');
  });
</script>

<div class="map-info">
  <h2 class="headline"><%= @shop[:name] %>の地図</h2>
  <div class="desc">お店の周辺地図が確認できます</div>
  <div style="margin: 10px;">
    <div id="google_map" style="width: auto; height: 410px; padding-left:0; margin-left: 0;"></div>
  </div>
</div>

<div class="shop-info">
  <h2 class="headline"><%= @shop[:name] %>の情報</h2>
  <div class="row">
    <div class="col-md-6">
      <table>
        <tbody>
          <tr id="budget">
            <th>予算／１人</th>
            <td>
              <span id="budget_value">9800円〜</span>
            </td>
          </tr>
          <tr id="full-rental-budget">
            <th>フルレンタル</th>
            <td>
              <span id="full-rental-budget_value">5000円/日</span>
            </td>
          </tr>
          <tr id="tel">
            <th>電話番号</th>
            <td>
              <span itemprop="tel"><%= @shop[:tel] %></span>
            </td>
          </tr>
          <tr id="address_area">
            <th>住所</th>
            <td>
              <span id="address_value"><%= @shop[:address] %></span>
            </td>
          </tr>
          <tr id="url">
            <th id="url_oh_label">URL</th>
            <td>
              <span id="url_oh_value"><%= @shop[:url] %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
