<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Sugumogu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap-theme", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="page-header">
      <h1>すぐもぐ</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
